/*--------------------------------------------------------------
# Defaults
--------------------------------------------------------------*/

body {
	font-family: var(--wp--custom--normal);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}